* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
   display: flex;
   background-image: var(--bg-image);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
   flex-shrink: 0;
   align-items: center;
   gap: 0.625rem;
   background-color: var(--color-bg);
   z-index: -1;
}



a {
  color: unset;
  text-decoration: none;
}

.section_padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}


@media screen and (max-width: 550px) {
  body {
    background-image: var(--bg-mobile);
    background-repeat: repeat;
    background-size: contain;
    width: 50vw;
    height: auto;
    align-items: flex-start;
    justify-content: left;
    
  }
}

